:root {
    --hover-bg-color: rgb(234, 12, 12);
    --header-bg-color: white;
    --footer-bg-color: black;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

h1,
h2,
h3,
h4,
p {
    margin: 5px;
}

textarea {
    resize: none;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}


li {
    list-style: none;
}

header {
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header-wrapper {
    background-color: var(--header-bg-color);
    display: flex;
    width: 100%;
    flex-shrink: 0;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 0 80px;
    box-sizing: border-box;
}

.logo img {
    width: 80px;
    height: 27px;
}

.navigate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.navigate a {
    text-decoration: none;
    color: black;
}

nav li :hover {
    color: var(--hover-bg-color);
}


.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - 40px);
    flex-shrink: 0;
    justify-content: center;
}

.image-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.button_information {
    display: inline-block;
    position: absolute;
    z-index: 3;
    margin-top: 50vh;
    margin-left: 60vw;
}

.button {
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: 400;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    margin: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}



 .button:hover {
    background-color: red;
    box-shadow: 0 0 15px 4px rgba(255, 41, 41, 0.6);
    color: black;
}




.title {
    position: absolute;
    display: block;
    color: white;
    font-size: 100px;
    margin-top: 10vh;
}


.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-shrink: 0;
    background-color: var(--footer-bg-color);
    color: white;
    height: 40px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9999;
}


video {
    object-fit: cover;
    height: inherit;
    width: inherit;
    position: absolute;
    z-index: 0;
}

.address .wrapper {
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 900px;
    height: 600px;
    background: rgba(240, 212, 212, 0.7);
    z-index: 1;
}

.title_form {
    font-weight: 700;
    font-size: 30px;
    margin-top: 80px;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.form-wrapper form {
    padding: 50px;

}

.form-element__label {
    position: relative;
}

.required::after {
    content: '*';
    color: red;
    right: -10px;
    position: absolute;
}

.form__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-weight: 700;
    width: 100%;
}

.form-element__wrapper {
    width: 100%;
}

.form-element {
    width: 100%;
}

.submit {
    padding: 15px;
    margin: 10px 0;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: inherit;
    background-color: black;
    color: white;
    width: 100%;
    cursor: pointer;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}



.submit:hover {
    background-color: red;
    box-shadow: 0 0 15px 4px rgba(255, 41, 41, 0.6);
    color: black;
}



.form_item {
    padding: 10px;
    margin: 10px 0;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);
    width: 25vw;
    font-family: inherit;
    font-size: inherit;
}

.textarea {
    width: -webkit-fill-available;
}